<mat-form-field class="fuse-mat-no-subscript w-full custom-mat-form-field" [floatLabel]="'always'">
    <mat-icon class="icon-size-5 text-primary" [svgIcon]="'mat_outline:ev_station'" matPrefix></mat-icon>
    <input matInput
        class="mat-input-element text-primary"
        [formControl]="searchControl"
        [placeholder]="placeholder | transloco"
        [autocomplete]="'off'"
        (keydown)="onKeydown($event)">
    <button mat-icon-button matSuffix>
        <mat-icon class="icon-size-5 text-primary" [svgIcon]="'heroicons_outline:search'"></mat-icon>
    </button>
</mat-form-field>
